@model OnlineShop.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts f/assets/admin/or this template-->
    <link href="/assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 ">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">LOGIN</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger", @style = "padding-left: 45px" });

                                        <h5 class="h6 text-gray-900 mb-4" style="margin-left: 70px ">Username</h5>
                                        <div class="form-group" style="width: 280px; margin-top: 20px; margin-left: 70px">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Enter the username" })

                                        </div>

                                        <h5 class="h6 text-gray-900 mb-4" style="margin-top: 20px; margin-left: 70px ">Password</h5>
                                        <div class="form-group" style="width: 280px; margin-top: 20px; margin-left: 70px ">
                                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Enter the password" })

                                        </div>
                                        <div class="custom-control custom-checkbox small" style="margin-top: 20px; margin-left: 48px ">
                                            <label>
                                                @Html.CheckBoxFor(model => model.RememberMe) Remember Me
                                            </label>
                                        </div>

                                        <div style="padding-left: 170px; margin-top: 25px ">
                                            <button type="submit" class="btn btn-primary" style="height: 45px; width: 90px;">
                                                Login
                                            </button>
                                        </div>


                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/admin/js/sb-admin-2.min.js"></script>

</body>

</html>
