
@model List<Model.EF.Menu>

<div class="flex-fill">
    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
        @foreach (var item in Model)
        {
            <li class="nav-item"><a class="nav-link" href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
    </ul>
</div>
