@model List<Model.EF.ProductCategory>

<div class="col-lg-3">
    <h1 class="h2 pb-4">Categories</h1>
    <ul class="list-unstyled templatemo-accordion">
        @foreach (var item in Model) {
            var url = "/san-pham/" + item.MetaTitle + "-" + item.ID;
        <ul>
            <li><a href="@url">@item.Name</a></li>
        </ul>
        }
    </ul>
</div>
